<!-- footer -->
<div class="ui vertical inverted black center aligned segment" style="background:#222831!important;">
    <div class="ui equal width grid container">
        <div class="column">
            <div class="ui vertical inverted white text menu">
                <div class="item">
                    <h3>产品和服务</h3>
                    <div class="menu">
                        <a href="#" class="item">博客</a>
                        <a href="#" class="item">工具</a>
                        <a href="#" class="item">联系博主</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui vertical inverted white  text menu">
                <div class="item">
                    <h3>网站版权信息</h3>
                    <div class="menu">
                        <div class="item">COPYRIGHT© 2016 - 2019 <a href="#">PTHONG与跨境电商</a> 版权所有 <a href="#">网站地图</a>
                        </div>
                        <div class="item">主题: Desgine By <a href="#">Steven</a></div>
                        <a href="#" class="item">备案</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui vertical inverted white  text menu">
                <div class="item">
                    <h3>友情链接</h3>
                    <div class="menu">
                        <a href="#" class="item">等着你</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>