{% extends "myblog/base.html" %}

{% block title %}Python与跨境电商{% endblock %}
{% block content %}
<!-- 文章列表 -->
<div class="ui container segment">
    <div class="ui items">
        {% for post in post_list %}
        <div class="item">
            <div class="image">
                <img src="./media/{{ post.cover }}" style="width:215px;height:140px;">
            </div>
            <div class="content" style="margin-left:2em;">
                <div class="ui header">
                    <a href="{% url 'blog:detail' post.id %}" style="color:black;">{{ post.title }}</a>
                </div>
                <div class="description">
                    <p>{{ post.content |truncatechars:250 }}</p>
                </div>
                <div class="extra">
                    来自于： <a href="{% url 'blog:cate' post.category.id %}"
                        style="color:black;">{{ post.category.name }}</a>.
                    {{  post.create_date }}
                    <i class="eye icon"></i>{{ post.views }}
                    <i class="thumbs up icon"></i> 4

                </div>
            </div>
        </div>
        {% empty %}
        <p>No post are available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}